@charset "utf-8";
div.newDest{
    display: block;
    height: 630px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.left-city-list{
    width: 40%;
    /*margin-left: 3.1%;*/
}

.left-city-list > .left-city{

    height: 70px;
    /*background-color: #eee;*/
    /*background: linear-gradient(top, #00a0de, #00a0de 70%, transparent 70%, transparent 100%);*/

    background-color: #00a0de;
    width: 20%;
    display: block;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    /*padding-right: 300px;*/
    /*position: absolute;*/
    /*margin: 0 -1px .2em 0;*/
    /*margin: 0 -1px .2em 10px;*/
    /*border: solid;*/

}

.left-city-list > .right-trip{
    /*display: block;*/

    padding: 0;
    width: 180px;
    height: 630px;
    position: relative;
    float: right;
    /*padding-left: 100px;*/
    /*box-sizing: border-box;*/
    /*margin-left: 100px;*/
}


/*热门城市*/
.hot-block{
    padding-top: 26px;
}
.hot-block > ul > li{
    float: left;
    width: 91%;
    height: 450px;
    margin: 6px 6px 0 4%;
    position: relative;
    overflow: hidden;
}

/*.hot-block > ul > li.first,*/
/*.hot-block > ul > li.last{*/
    /*width: 524px;*/
/*}*/

.hot-block > ul > li.mr_0,
.hot-block > ul > li.last{
    margin-right: 0;
}
.hot-block > ul > li .img-link > a{
    display: block;
    background: #000;
}
.hot-block > ul > li .img-link > a:hover img{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.hot-block > ul > li .img-link > a > span{
    display: block;
    color: #fff;
    height: 69px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    margin-top: -270px;
    font-size: 80px;
}


.img-link{
    position: relative;
    display:inline-block;
}

.img-link-a{
    position: relative;
}

.img-link-buttons{
    position: absolute;
    margin-top: -45px;
    margin-left: 9%;
}

.img-link-buttons > .btn{
    font-size: 2.25rem;
    margin-left: 30px;
    text-align: center;
    opacity: 1.0;
    /*customize*/
    /*background-color: #ffb938;*/
    /*border-style: solid;*/
    /*border-color: black;*/

    /*color: black;*/
}

.img-link-buttons > .three-words-city{
    margin-left: -3%;
    /*customize*/
    /*background-color: #ffb938;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    /*color: black;*/
}



/*广告图*/
.images {
    margin: 20px 0;
    /*border: 1px solid #ccc;*/
    padding: 10px;
    margin-top: 15px;
    margin-bottom: -22px;
}

.single-ad{
    margin-left: 10px;
}

.bg-white .wm-1200 .images{
    margin-left: 7.1%;
}

.bg-white .wm-1200 .images .single-ad{

    width: 45%;
    height: 100px;
}

/*Button*/
.cusmize-btn{
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    /*background: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #2cb5e8 75%);*/

    /*background: linear-gradient(141deg, #3434D7 0%, #3266EE 51%, #3434D7 75%);*/
    background: transparent;

    box-shadow: 0 0 10px #999;
    border-color: white;
    color: #fff;
    font-size: 15px;
}

.cusmize-btn:hover{
    background-color: transparent;
    border-color: white;
    margin-top: -5px;
    color: #fff;
    box-shadow: 0 0 10px #fff;

}

.cusmize-btn > p{
    font-size: 20px;
}